* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.logo {
  max-width: 13rem;
  min-width: 13rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem;
}

body {
  height: 100%;
}

h1 {
  font-family: Lato;
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-family: Lato;
  font-weight: 500;
}

h3 {
  font-family: Lato;
  font-size: large;
  font-weight: 700;
  line-height: 2rem;
}

h4 {
  font-family: Roboto;
  font-weight: 300;
  line-height: 2rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Roboto;
  font-weight: 300;
  color: black;
}

.nav-link {
  margin: 1.5rem 1rem 0rem 1rem;
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 100%;
  }

  _header > nav {
    text-align: space-between;
    background-color: darkcyan;
  }

  _.nav-link {
    display: block;

    background-color: burlywood;
  }
}

.first-group {
  padding: 15rem;
  background-image: url("https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}

.first-text {
  display: inline-flex;
  margin: 0.5rem 0rem -5rem 0.25rem;
}

.second-group {
  background-color: #e597b1;
  text-align: center;
  padding: 8rem 4rem 6rem 4rem;
  margin-top: 3.5rem;
  font-size: medium;
  font-size: inherit;
}

.third-group {
  background-color: white;
  text-align: center;
  margin-top: 3rem;
}

.outer-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 2rem 0rem 3rem 16rem;
}

.third2 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  padding: 16rem 0rem 0rem 0.5rem;
  text-align: left;
  font-weight: 700;
  color: black;
  border: black;
  border-style: solid;
  border-width: thin;
  border-radius: 3px;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.third3 {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: left;
  padding: 16rem 0.5rem 0rem 0.5rem;
  text-align: left;
  font-weight: 700;
  color: black;
  border: black;
  border-style: solid;
  border-width: thin;
  border-radius: 3px;
  margin: 0.5rem 1rem 0.5rem 0.5rem;
}

.fourth-group {
  background-color: #758d75;
  text-align: center;
  padding: 6rem 4rem 18rem 4rem;
  font-size: inherit;
}

.underlined {
  text-decoration: underline;
  font-weight: bold;
}

.button1 {
  display: inline;
  _font-family: Roboto;
  font-weight: 500;
  background-color: #e597b1;
  border: black;
  border-style: solid;
  border-width: thin;
  border-radius: 3px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.button2 {
  display: inline;
  font-family: Roboto;
  _font-weight: 500;
  background-color: #758d75;
  border: black;
  border-style: solid;
  border-width: thin;
  border-radius: 3px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

footer {
  background-color: black;
  color: white;
  margin-top: 3rem;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10rem 8rem 5rem 9rem;
  text-decoration: underline;
  color: white;
}

.footer-nav-link {
  margin: 1rem 2.5rem 0rem 0rem;
  color: white;
  font-size: smaller;
}

.small {
  text-align: center;
  color: grey;
  font-size: x-small;
}

_main > * {
  background-color: blue;
  _margin: 0rem;
  margin-top: 0.5rem;
  _padding-bottom: 1rem;
}
